# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
artifacts
.lastcommit
dist
dist-build
personnes-decedees-search-ui-*
personnes-decedees_search
deces-backend
docker-compose-elasticsearch-huge.yml
backup
esdata
config
tools
.data.sha1
.dataprep.sha1
.data.sha1.list

# dependencies
/node_modules


# testing
/coverage

# production
public/build
bundle.*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
