version: '3.4'

services:
  frontend-build:
    build:
      context: ${FRONTEND}
      dockerfile: Dockerfile
      target: build
      args:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: ${no_proxy}
        npm_registry: ${NPM_REGISTRY}
        sass_registry: ${SASS_REGISTRY}
        MIRROR_DEBIAN: ${MIRROR_DEBIAN}
        app_path: /${APP}
        app_name: ${APP}
        app_ver: ${APP_VERSION}
        NPM_FIX: ${NPM_FIX}
        NPM_LATEST: ${NPM_LATEST}
        NPM_GIT: ${NPM_GIT}
        NPM_VERBOSE: ${NPM_VERBOSE}
        ES_PROXY_PATH: ${ES_PROXY_PATH}
    image: ${DOCKER_USERNAME}/${DC_PREFIX}-frontend-build:${APP_VERSION}
    container_name: ${DC_PREFIX}-frontend-build
    environment:
      - APP
      - PORT
      - ES_PROXY_PATH
      - DATAGOUV_PROXY_PATH
      - DATAGOUV_CATALOG_URL
      - DATAGOUV_RESOURCES_URL










