version: '3.4'

# this docker configuation is the run flavor (static)

services:
  nginx:
    image: ${DOCKER_USERNAME}/${DC_PREFIX}:${APP_VERSION}
    build:
      context: ${NGINX}
      target: production
      dockerfile: ${NGINX}/Dockerfile
      args:
        app_name: ${APP}
        app_ver: ${APP_VERSION}
    container_name: ${DC_PREFIX}
    environment:
      - APP
      - ES_PROXY_PATH
      - ES_HOST
      - ES_INDEX
      - ES_PORT
      - DATAGOUV_PROXY_PATH
      - DATAGOUV_RESOURCES_PROXY
      - DATAGOUV_RESOURCES_REWRITE_PATH
      - API_USER_LIMIT_RATE
      - API_DOWNLOAD_LIMIT_RATE
      - API_USER_BURST
      - API_USER_SCOPE
      - API_GLOBAL_LIMIT_RATE
      - API_GLOBAL_BURST
    ports:
      - ${PORT}:80
    restart: always

networks:
  default:
    external:
      name: ${DC_NETWORK}


