version: '3.4'

services:
  ui-test:
    image: mcr.microsoft.com/playwright:v${PLAYWRIGHT_VERSION}
    container_name: ${DC_PREFIX}
    ipc: host
    working_dir: /ui-test
    volumes:
      - ${FRONTEND}/ui-test/:/ui-test
      - ui-test-node-modules:/ui-test/node_modules
    command: >
      bash -c "mkdir -p /ui-test/node_modules && chown -R pwuser:pwuser /ui-test/node_modules && yarn install && su pwuser -c 'yarn test'"
    environment:
      - PORT=${PORT}
      - TEST_HOST=${TEST_HOST}

networks:
  default:
    external:
      name: ${DC_NETWORK}

volumes:
  ui-test-node-modules:
