/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
figure,h1,html,li,ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100%;
  font-weight: 400;
}

.rc-pagination>li,ul {
  list-style: none;
}

button,input {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,td {
  padding: 0;
}

table td:not([align]),td:not([align]) {
  text-align: left;
}

body,html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #fff;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

figure,section {
  display: block;
}

button,input {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a:hover,strong {
  color: #363636;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

table td {
  vertical-align: top;
}

.is-size-5 {
  font-size: 1.25rem!important;
}

.is-size-7 {
  font-size: .75rem !important;
}

.has-text-centered {
  text-align: center!important;
}

.is-uppercase {
  text-transform: uppercase!important;
}

.has-text-white {
  color: #fff!important;
}

.has-background-primary {
  background-color: #00d1b2!important;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.button:active,.button:focus {
  outline: 0;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-info,.button.is-info:hover {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #1496ed;
}

.button.is-info:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(32,156,238,.25);
}

.button.is-info:active {
  background-color: #118fe4;
  border-color: transparent;
  color: #fff;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-content,.card-header {
  background-color: transparent;
}

.card-header {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(10,10,10,.1);
  display: flex;
}

.card-content {
  padding: 1.5rem;
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.columns.is-mobile>.column.is-3 {
  flex: none;
  width: 25%;
}

.columns.is-mobile>.column.is-9 {
  flex: none;
  width: 75%;
}

@media print,screen and (min-width:769px) {
  .column.is-3 {
    flex: none;
    width: 25%;
  }

  .column.is-6 {
    flex: none;
    width: 50%;
  }

  .column.is-9 {
    flex: none;
    width: 75%;
  }

  .column.is-12 {
    flex: none;
    width: 100%;
  }
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns:not(:last-child) {
  margin-bottom: .75rem;
}

.columns.is-mobile {
  display: flex;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

.columns.is-vcentered {
  align-items: center;
}

@media print,screen and (min-width:769px) {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width:1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width:1408px) {
  .container {
    max-width: 1344px;
  }
}

.content:not(:last-child),.subtitle:not(:last-child),.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content table {
  width: 100%;
}

.content table td,.table td {
  border: solid #dbdbdb;
  border-width: 0 0 1px;
  padding: .5em .75em;
  vertical-align: top;
}

.content table tbody tr:last-child td,.content table tbody tr:last-child th,.table tbody tr:last-child td,.table tbody tr:last-child th {
  border-bottom-width: 0;
}

.subtitle,.title {
  word-break: break-word;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle:not(.is-spaced)+.title,.title:not(.is-spaced)+.subtitle {
  margin-top: -1.25rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table:not(:last-child) {
  margin-bottom: 1.5rem;
}

.table {
  background-color: #fff;
  color: #363636;
}

.table tbody {
  background-color: transparent;
}

.table.is-fullwidth {
  width: 100%;
}

.table.is-narrow td {
  padding: .25em .5em;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #fafafa;
}

.modal-container {
  z-index: 100;
  position: fixed;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.navbar-link:not(.is-arrowless):after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: .625em;
  border-color: #3273dc;
  margin-top: -.375em;
  right: 1.125em;
}

.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.navbar.is-white .navbar-burger {
  color: #0a0a0a;
}

@media screen and (max-width:1023px) {
  .navbar>.container {
    display: block;
  }

  .navbar-link:after {
    display: none;
  }

  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
}


@media screen and (min-width:1024px) {
  .navbar.is-white .navbar-start .navbar-link,.navbar.is-white .navbar-start>.navbar-item {
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-item.has-dropdown:focus .navbar-link,.navbar.is-white .navbar-item.has-dropdown:hover .navbar-link,.navbar.is-white .navbar-start .navbar-link:focus,.navbar.is-white .navbar-start .navbar-link:hover,.navbar.is-white .navbar-start>a.navbar-item:focus,.navbar.is-white .navbar-start>a.navbar-item:hover {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-start .navbar-link:after {
    border-color: #0a0a0a;
  }
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  top: 0;
}

html.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition-duration: 86ms;
  transition-duration: 86ms;
  -webkit-transition-property: background-color,opacity,-webkit-transform;
  transition-property: background-color,opacity,transform;
  transition-property: background-color,opacity,transform,-webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:first-child {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0,0,0,.05);
}

.navbar-burger.is-active span:first-child {
  transform:translateY(5px) rotate(45deg)
 }
 .navbar-burger.is-active span:nth-child(2) {
  opacity:0
 }
 .navbar-burger.is-active span:nth-child(3) {
  transform:translateY(-5px) rotate(-45deg)
 }

.navbar-menu {
  display: none;
}

.navbar-item,.navbar-link {
  color: #4a4a4a;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.navbar-link {
  display: block;
}

.navbar-item .icon:only-child,.navbar-link .icon:only-child {
  margin-left: -.25rem;
  margin-right: -.25rem;
}

a.navbar-item {
  cursor: pointer;
}

.navbar-link:focus,.navbar-link:focus-within,.navbar-link:hover,a.navbar-item:focus,a.navbar-item:focus-within,a.navbar-item:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 2.5em;
}

.navbar-dropdown {
  font-size: .875rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (max-width:1023px) {
  .navbar>.container {
    display: block;
  }

  .navbar-link:after {
    display: none;
  }

  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }

  .navbar-menu.is-active {
    display: block;
  }
}

@media screen and (min-width:1024px) {
  .navbar,.navbar-menu,.navbar-start {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar.is-transparent .navbar-link:focus,.navbar.is-transparent .navbar-link:hover,.navbar.is-transparent a.navbar-item:focus,.navbar.is-transparent a.navbar-item:hover {
    background-color: transparent!important;
  }

  .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
    background-color: transparent!important;
  }

  .navbar-dropdown a.navbar-item:focus,.navbar-dropdown a.navbar-item:hover,.navbar.is-transparent .navbar-dropdown a.navbar-item:focus,.navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,.navbar-link {
    align-items: center;
  }

  .navbar-link {
    display: flex;
  }

  .navbar-item {
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:focus .navbar-dropdown,.navbar-item.is-hoverable:focus-within .navbar-dropdown,.navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .navbar-dropdown .navbar-item {
    padding: .375rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar>.container .navbar-brand {
    margin-left: -.75rem;
  }

  .navbar>.container .navbar-menu {
    margin-right: -.75rem;
  }

  .navbar-item.has-dropdown:focus .navbar-link,.navbar-item.has-dropdown:hover .navbar-link {
    background-color: #fafafa;
  }
}

.navbar-link {
  cursor: pointer;
}

.rc-pagination {
  font-size: 12px;
  font-family: Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

.rc-pagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.rc-pagination-item {
  cursor: pointer;
  border-radius: 6px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  float: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
}

.rc-pagination-item a {
  text-decoration: none;
  color: #666;
}

.rc-pagination-item:hover {
  border-color: #2db7f5;
}

.rc-pagination-item:hover a {
  color: #2db7f5;
}

.rc-pagination-item-active {
  background-color: #2db7f5;
  border-color: #2db7f5;
}

.rc-pagination-item-active a,.rc-pagination-item-active:hover a {
  color: #fff;
}

.rc-pagination-prev {
  margin-right: 8px;
}

.rc-pagination-next,.rc-pagination-prev {
  cursor: pointer;
  color: #666;
  border-radius: 6px;
  list-style: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  float: left;
  text-align: center;
  border: 1px solid #d9d9d9;
  font-size: 18px;
}

.rc-pagination-prev a:after {
  content: "\2039";
  display: block;
}

.rc-pagination-next a:after {
  content: "\203A";
  display: block;
}

.rc-pagination-next a,.rc-pagination-prev a {
  color: #666;
}

.rc-pagination-next a:after,.rc-pagination-prev a:after {
  margin-top: -1px;
}

.rc-pagination-disabled {
  cursor: not-allowed;
}

.rc-pagination-disabled a {
  color: #ccc;
}

*,:after,:before {
  box-sizing: inherit;
}

.sui-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #eee;
}

.sui-layout-body {
  background: #fcfcfc;
}

.sui-layout-body:after {
  content: "";
  height: 80px;
  width: 100%;
  display: block;
  position: relative;
  background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#fff));
  background: linear-gradient(180deg,#fcfcfc 0,#fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#ffffff",GradientType=0);
}

@media (max-width:800px) {
  .sui-layout-body:after {
    display: none;
  }
}

.sui-layout-body__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 24px;
}

@media (max-width:800px) {
  .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }
}

.sui-layout-sidebar {
  padding: 32px 32px 0 0;
}

@media (max-width:975px) {
  .sui-layout-sidebar {
    padding-right: 0;
  }
}

@media (max-width:800px) {
  .sui-layout-sidebar {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px;
    background-color: #fcfcfc;
    overflow: auto;
  }
}

.sui-layout-main {
  padding: 32px 0 32px 32px;
}

@media (max-width:800px) {
  .sui-layout-main {
    width: 100%;
    padding-left: 0;
  }
}

.sui-layout-main-header,.sui-layout-main-header__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sui-layout-main-header__inner {
  font-size: 12px;
  color: #4a4b4b;
}

.sui-layout-main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sui-paging>li {
  border: 0;
  background: 0 0;
  outline: 0;
}

.sui-paging .rc-pagination-disabled a {
  color: #ccc;
  opacity: .5;
}

.sui-paging .rc-pagination-item a,.sui-paging .rc-pagination-item:hover a {
  color: #3a56e4;
  text-decoration: none;
}

.sui-paging .rc-pagination-item:hover {
  background: #f8f8f8;
}

.sui-paging .rc-pagination-item-active a {
  color: #4f4f4f;
  font-weight: 700;
}

.sui-paging .rc-pagination-item-active:hover {
  background: 0 0;
  cursor: not-allowed;
}

.sui-paging .rc-pagination-item-active:hover a {
  color: #4f4f4f;
  cursor: not-allowed;
}

.sui-paging .rc-pagination-next:hover {
  background: #f8f8f8;
}

.sui-paging .rc-pagination-next:hover a {
  color: #3a56e4;
}

.sui-paging-info,.sui-results-per-page {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #4a4b4b;
  font-size: 12px;
}

.sui-paging-info {
  display: inline-block;
}

.sui-results-per-page {
  display: flex;
  align-items: center;
  height: 100%;
}

.sui-results-per-page__label {
  margin-right: 8px;
}

.sui-results-per-page .sui-select__control {
  align-items: center;
}

.sui-results-per-page .sui-select__control input {
  position: absolute;
}

.sui-search-box,.sui-select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.sui-search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
}

.sui-select {
  line-height: 1.5;
  font-weight: 400;
  font-size: .875rem;
  margin-top: 8px;
  width: 100%;
}

.sui-select--inline {
  margin-top: 0;
}

.sui-select__control {
  background-color: #f8f8f8;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.sui-select__value-container {
  padding-top: 0;
  padding-bottom: 0;
}

.sui-select__value-container--has-value {
  font-weight: 700;
  color: #333;
}

.sui-select__dropdown-indicator {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.sui-layout-header {
  background-image: linear-gradient(141deg,#009e6c,#00d1b2 71%,#00e7eb);
}

.sui-layout-sidebar {
  width: 0;
}

.sui-layout-main {
  width: 100%;
}

.autocomplete .sui-search-box__autocomplete-container {
  display: flex;
  z-index: 1;
}

.sui-search-box__autocomplete-container {
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 110%;
  margin: 0;
  padding: 24px 0 12px 0;
  line-height: 1.5;
  background:
white;
position: absolute;
box-shadow:
rgba(59, 69, 79, 0.3) 0px 2px 4px;
border-top: 1px solid
#ccc;
border-left: 1px solid
#ccc;
border-right: 1px solid
#ccc;
border-bottom: 1px solid
  #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.modal,
.modal-background {
 bottom:0;
 left:0;
 position:absolute;
 right:0;
 top:0
}
.modal {
 align-items:center;
 display:none;
 flex-direction:column;
 justify-content:center;
 overflow:hidden;
 position:fixed;
 z-index:40
}
.modal.is-active {
 display:flex
}
.modal-background {
 background-color:rgba(10,10,10,.86)
}
.modal-card,
.modal-content {
 margin:0 20px;
 max-height:calc(100vh - 160px);
 overflow:auto;
 position:relative;
 width:100%
}
@media print,screen and (min-width:769px) {
 .modal-card,
 .modal-content {
  margin:0 auto;
  max-height:calc(100vh - 40px);
  width:640px
 }
}
.modal-close {
 background:none;
 height:40px;
 position:fixed;
 right:20px;
 top:20px;
 width:40px
}
.modal-card {
 display:flex;
 flex-direction:column;
 max-height:calc(100vh - 40px);
 overflow:hidden;
 -ms-overflow-y:visible
}
.modal-card-foot,
.modal-card-head {
 align-items:center;
 background-color:#f5f5f5;
 display:flex;
 flex-shrink:0;
 justify-content:flex-start;
 padding: 20px;
 position:relative
}
.modal-card-head {
 border-bottom:1px solid #dbdbdb;
 border-top-left-radius:6px;
 border-top-right-radius:6px;
 padding: 0px 20px 0px 20px;
}
.modal-card-title {
 color:#363636;
 flex-grow:1;
 flex-shrink:0;
 font-size:1.5rem;
 line-height:1
}
.modal-card-foot {
 border-bottom-left-radius:6px;
 border-bottom-right-radius:6px;
 border-top:1px solid #dbdbdb
}
.modal-card-foot .button:not(:last-child) {
 margin-right:.5em
}
.modal-card-body {
 -webkit-overflow-scrolling:touch;
 background-color:#fff;
 flex-grow:1;
 flex-shrink:1;
 overflow:auto;
 padding:20px
}
.modal-container {
 z-index:100;
 position:fixed
}

.delete {
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color:rgba(10,10,10,.2);
  border:none;
  border-radius:290486px;
  cursor:pointer;
  pointer-events:auto;
  display:inline-block;
  flex-grow:0;
  flex-shrink:0;
  font-size:0;
  height:20px;
  max-height:20px;
  max-width:20px;
  min-height:20px;
  min-width:20px;
  outline:none;
  position:relative;
  vertical-align:top;
  width:20px
 }
.delete:after,
.delete:before {
 background-color:#fff;
 content:"";
 display:block;
 left:50%;
 position:absolute;
 top:50%;
 transform:translateX(-50%) translateY(-50%) rotate(45deg);
 transform-origin:center center
}
.delete:before {
 height:2px;
 width:50%
}
.delete:after {
 height:50%;
 width:2px
}
.delete:focus,
.delete:hover {
 background-color:rgba(10,10,10,.3)
}


@media print,screen and (min-width:769px) {
  .logo {
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -12px;
  }
}
@media print,screen and (max-width:768px) {
  .logo {
  margin-top: -8px;
  margin-bottom: -15px;
  margin-left: -12px;
  }
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
figure,h1,html,li,ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100%;
  font-weight: 400;
}

.rc-pagination>li,ul {
  list-style: none;
}

button,input {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,td {
  padding: 0;
}

table td:not([align]),td:not([align]) {
  text-align: left;
}

body,html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #fff;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

figure,section {
  display: block;
}

button,input {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a:hover,strong {
  color: #363636;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

table td {
  vertical-align: top;
}

.is-size-5 {
  font-size: 1.25rem!important;
}

.is-size-7 {
  font-size: .75rem !important;
}

.has-text-centered {
  text-align: center!important;
}

.is-uppercase {
  text-transform: uppercase!important;
}

.has-text-white {
  color: #fff!important;
}

.has-background-primary {
  background-color: #00d1b2!important;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.button:active,.button:focus {
  outline: 0;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-info,.button.is-info:hover {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #1496ed;
}

.button.is-info:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(32,156,238,.25);
}

.button.is-info:active {
  background-color: #118fe4;
  border-color: transparent;
  color: #fff;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-content,.card-header {
  background-color: transparent;
}

.card-header {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(10,10,10,.1);
  display: flex;
}

.card-content {
  padding: 1.5rem;
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.columns.is-mobile>.column.is-3 {
  flex: none;
  width: 25%;
}

.columns.is-mobile>.column.is-9 {
  flex: none;
  width: 75%;
}

@media print,screen and (min-width:769px) {
  .column.is-3 {
    flex: none;
    width: 25%;
  }

  .column.is-6 {
    flex: none;
    width: 50%;
  }

  .column.is-9 {
    flex: none;
    width: 75%;
  }

  .column.is-12 {
    flex: none;
    width: 100%;
  }
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns:not(:last-child) {
  margin-bottom: .75rem;
}

.columns.is-mobile {
  display: flex;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

.columns.is-vcentered {
  align-items: center;
}

@media print,screen and (min-width:769px) {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width:1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width:1408px) {
  .container {
    max-width: 1344px;
  }
}

.content:not(:last-child),.subtitle:not(:last-child),.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content table {
  width: 100%;
}

.content table td,.table td {
  border: solid #dbdbdb;
  border-width: 0 0 1px;
  padding: .5em .75em;
  vertical-align: top;
}

.content table tbody tr:last-child td,.content table tbody tr:last-child th,.table tbody tr:last-child td,.table tbody tr:last-child th {
  border-bottom-width: 0;
}

.subtitle,.title {
  word-break: break-word;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle:not(.is-spaced)+.title,.title:not(.is-spaced)+.subtitle {
  margin-top: -1.25rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table:not(:last-child) {
  margin-bottom: 1.5rem;
}

.table {
  background-color: #fff;
  color: #363636;
}

.table tbody {
  background-color: transparent;
}

.table.is-fullwidth {
  width: 100%;
}

.table.is-narrow td {
  padding: .25em .5em;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: #fafafa;
}

.modal-container {
  z-index: 100;
  position: fixed;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.navbar-link:not(.is-arrowless):after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: .625em;
  border-color: #3273dc;
  margin-top: -.375em;
  right: 1.125em;
}

.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.navbar.is-white .navbar-burger {
  color: #0a0a0a;
}

@media screen and (max-width:1023px) {
  .navbar>.container {
    display: block;
  }

  .navbar-link:after {
    display: none;
  }

  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
}


@media screen and (min-width:1024px) {
  .navbar.is-white .navbar-start .navbar-link,.navbar.is-white .navbar-start>.navbar-item {
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-item.has-dropdown:focus .navbar-link,.navbar.is-white .navbar-item.has-dropdown:hover .navbar-link,.navbar.is-white .navbar-start .navbar-link:focus,.navbar.is-white .navbar-start .navbar-link:hover,.navbar.is-white .navbar-start>a.navbar-item:focus,.navbar.is-white .navbar-start>a.navbar-item:hover {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }

  .navbar.is-white .navbar-start .navbar-link:after {
    border-color: #0a0a0a;
  }
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  top: 0;
}

html.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition-duration: 86ms;
  transition-duration: 86ms;
  -webkit-transition-property: background-color,opacity,-webkit-transform;
  transition-property: background-color,opacity,transform;
  transition-property: background-color,opacity,transform,-webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:first-child {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0,0,0,.05);
}

.navbar-burger.is-active span:first-child {
  transform:translateY(5px) rotate(45deg)
 }
 .navbar-burger.is-active span:nth-child(2) {
  opacity:0
 }
 .navbar-burger.is-active span:nth-child(3) {
  transform:translateY(-5px) rotate(-45deg)
 }

.navbar-menu {
  display: none;
}

.navbar-item,.navbar-link {
  color: #4a4a4a;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
}

.navbar-link {
  display: block;
}

.navbar-item .icon:only-child,.navbar-link .icon:only-child {
  margin-left: -.25rem;
  margin-right: -.25rem;
}

a.navbar-item {
  cursor: pointer;
}

.navbar-link:focus,.navbar-link:focus-within,.navbar-link:hover,a.navbar-item:focus,a.navbar-item:focus-within,a.navbar-item:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 2.5em;
}

.navbar-dropdown {
  font-size: .875rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (max-width:1023px) {
  .navbar>.container {
    display: block;
  }

  .navbar-link:after {
    display: none;
  }

  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
  }

  .navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }

  .navbar-menu.is-active {
    display: block;
  }
}

@media screen and (min-width:1024px) {
  .navbar,.navbar-menu,.navbar-start {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar.is-transparent .navbar-link:focus,.navbar.is-transparent .navbar-link:hover,.navbar.is-transparent a.navbar-item:focus,.navbar.is-transparent a.navbar-item:hover {
    background-color: transparent!important;
  }

  .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
    background-color: transparent!important;
  }

  .navbar-dropdown a.navbar-item:focus,.navbar-dropdown a.navbar-item:hover,.navbar.is-transparent .navbar-dropdown a.navbar-item:focus,.navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,.navbar-link {
    align-items: center;
  }

  .navbar-link {
    display: flex;
  }

  .navbar-item {
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:focus .navbar-dropdown,.navbar-item.is-hoverable:focus-within .navbar-dropdown,.navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .navbar-dropdown .navbar-item {
    padding: .375rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar>.container .navbar-brand {
    margin-left: -.75rem;
  }

  .navbar>.container .navbar-menu {
    margin-right: -.75rem;
  }

  .navbar-item.has-dropdown:focus .navbar-link,.navbar-item.has-dropdown:hover .navbar-link {
    background-color: #fafafa;
  }
}

.navbar-link {
  cursor: pointer;
}

.rc-pagination {
  font-size: 12px;
  font-family: Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

.rc-pagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.rc-pagination-item {
  cursor: pointer;
  border-radius: 6px;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  list-style: none;
  float: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
}

.rc-pagination-item a {
  text-decoration: none;
  color: #666;
}

.rc-pagination-item:hover {
  border-color: #2db7f5;
}

.rc-pagination-item:hover a {
  color: #2db7f5;
}

.rc-pagination-item-active {
  background-color: #2db7f5;
  border-color: #2db7f5;
}

.rc-pagination-item-active a,.rc-pagination-item-active:hover a {
  color: #fff;
}

.rc-pagination-prev {
  margin-right: 8px;
}

.rc-pagination-next,.rc-pagination-prev {
  cursor: pointer;
  color: #666;
  border-radius: 6px;
  list-style: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  float: left;
  text-align: center;
  border: 1px solid #d9d9d9;
  font-size: 18px;
}

.rc-pagination-prev a:after {
  content: "\2039";
  display: block;
}

.rc-pagination-next a:after {
  content: "\203A";
  display: block;
}

.rc-pagination-next a,.rc-pagination-prev a {
  color: #666;
}

.rc-pagination-next a:after,.rc-pagination-prev a:after {
  margin-top: -1px;
}

.rc-pagination-disabled {
  cursor: not-allowed;
}

.rc-pagination-disabled a {
  color: #ccc;
}

*,:after,:before {
  box-sizing: inherit;
}

.sui-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #eee;
}

.sui-layout-body {
  background: #fcfcfc;
}

.sui-layout-body:after {
  content: "";
  height: 80px;
  width: 100%;
  display: block;
  position: relative;
  background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#fff));
  background: linear-gradient(180deg,#fcfcfc 0,#fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#ffffff",GradientType=0);
}

@media (max-width:800px) {
  .sui-layout-body:after {
    display: none;
  }
}

.sui-layout-body__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 24px;
}

@media (max-width:800px) {
  .sui-layout-body__inner {
    display: block;
    padding: 0 15px;
  }
}

.sui-layout-sidebar {
  padding: 32px 32px 0 0;
}

@media (max-width:975px) {
  .sui-layout-sidebar {
    padding-right: 0;
  }
}

@media (max-width:800px) {
  .sui-layout-sidebar {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px 30px;
    background-color: #fcfcfc;
    overflow: auto;
  }
}

.sui-layout-main {
  padding: 32px 0 32px 32px;
}

@media (max-width:800px) {
  .sui-layout-main {
    width: 100%;
    padding-left: 0;
  }
}

.sui-layout-main-header,.sui-layout-main-header__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sui-layout-main-header__inner {
  font-size: 12px;
  color: #4a4b4b;
}

.sui-layout-main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sui-paging>li {
  border: 0;
  background: 0 0;
  outline: 0;
}

.sui-paging .rc-pagination-disabled a {
  color: #ccc;
  opacity: .5;
}

.sui-paging .rc-pagination-item a,.sui-paging .rc-pagination-item:hover a {
  color: #3a56e4;
  text-decoration: none;
}

.sui-paging .rc-pagination-item:hover {
  background: #f8f8f8;
}

.sui-paging .rc-pagination-item-active a {
  color: #4f4f4f;
  font-weight: 700;
}

.sui-paging .rc-pagination-item-active:hover {
  background: 0 0;
  cursor: not-allowed;
}

.sui-paging .rc-pagination-item-active:hover a {
  color: #4f4f4f;
  cursor: not-allowed;
}

.sui-paging .rc-pagination-next:hover {
  background: #f8f8f8;
}

.sui-paging .rc-pagination-next:hover a {
  color: #3a56e4;
}

.sui-paging-info,.sui-results-per-page {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #4a4b4b;
  font-size: 12px;
}

.sui-paging-info {
  display: inline-block;
}

.sui-results-per-page {
  display: flex;
  align-items: center;
  height: 100%;
}

.sui-results-per-page__label {
  margin-right: 8px;
}

.sui-results-per-page .sui-select__control {
  align-items: center;
}

.sui-results-per-page .sui-select__control input {
  position: absolute;
}

.sui-search-box,.sui-select {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.sui-search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
}

.sui-select {
  line-height: 1.5;
  font-weight: 400;
  font-size: .875rem;
  margin-top: 8px;
  width: 100%;
}

.sui-select--inline {
  margin-top: 0;
}

.sui-select__control {
  background-color: #f8f8f8;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.sui-select__value-container {
  padding-top: 0;
  padding-bottom: 0;
}

.sui-select__value-container--has-value {
  font-weight: 700;
  color: #333;
}

.sui-select__dropdown-indicator {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.sui-layout-header {
  background-image: linear-gradient(141deg,#009e6c,#00d1b2 71%,#00e7eb);
}

.sui-layout-sidebar {
  width: 0;
}

.sui-layout-main {
  width: 100%;
}

.autocomplete .sui-search-box__autocomplete-container {
  display: flex;
  z-index: 1;
}

.sui-search-box__autocomplete-container {
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 110%;
  margin: 0;
  padding: 24px 0 12px 0;
  line-height: 1.5;
  background:
white;
position: absolute;
box-shadow:
rgba(59, 69, 79, 0.3) 0px 2px 4px;
border-top: 1px solid
#ccc;
border-left: 1px solid
#ccc;
border-right: 1px solid
#ccc;
border-bottom: 1px solid
  #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.modal,
.modal-background {
 bottom:0;
 left:0;
 position:absolute;
 right:0;
 top:0
}
.modal {
 align-items:center;
 display:none;
 flex-direction:column;
 justify-content:center;
 overflow:hidden;
 position:fixed;
 z-index:40
}
.modal.is-active {
 display:flex
}
.modal-background {
 background-color:rgba(10,10,10,.86)
}
.modal-card,
.modal-content {
 margin:0 20px;
 max-height:calc(100vh - 160px);
 overflow:auto;
 position:relative;
 width:100%
}
@media print,screen and (min-width:769px) {
 .modal-card,
 .modal-content {
  margin:0 auto;
  max-height:calc(100vh - 40px);
  width:640px
 }
}
.modal-close {
 background:none;
 height:40px;
 position:fixed;
 right:20px;
 top:20px;
 width:40px
}
.modal-card {
 display:flex;
 flex-direction:column;
 max-height:calc(100vh - 40px);
 overflow:hidden;
 -ms-overflow-y:visible
}
.modal-card-foot,
.modal-card-head {
 align-items:center;
 background-color:#f5f5f5;
 display:flex;
 flex-shrink:0;
 justify-content:flex-start;
 padding: 20px;
 position:relative
}
.modal-card-head {
 border-bottom:1px solid #dbdbdb;
 border-top-left-radius:6px;
 border-top-right-radius:6px;
 padding: 0px 20px 0px 20px;
}
.modal-card-title {
 color:#363636;
 flex-grow:1;
 flex-shrink:0;
 font-size:1.5rem;
 line-height:1
}
.modal-card-foot {
 border-bottom-left-radius:6px;
 border-bottom-right-radius:6px;
 border-top:1px solid #dbdbdb
}
.modal-card-foot .button:not(:last-child) {
 margin-right:.5em
}
.modal-card-body {
 -webkit-overflow-scrolling:touch;
 background-color:#fff;
 flex-grow:1;
 flex-shrink:1;
 overflow:auto;
 padding:20px
}
.modal-container {
 z-index:100;
 position:fixed
}

.delete {
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color:rgba(10,10,10,.2);
  border:none;
  border-radius:290486px;
  cursor:pointer;
  pointer-events:auto;
  display:inline-block;
  flex-grow:0;
  flex-shrink:0;
  font-size:0;
  height:20px;
  max-height:20px;
  max-width:20px;
  min-height:20px;
  min-width:20px;
  outline:none;
  position:relative;
  vertical-align:top;
  width:20px
 }
.delete:after,
.delete:before {
 background-color:#fff;
 content:"";
 display:block;
 left:50%;
 position:absolute;
 top:50%;
 transform:translateX(-50%) translateY(-50%) rotate(45deg);
 transform-origin:center center
}
.delete:before {
 height:2px;
 width:50%
}
.delete:after {
 height:50%;
 width:2px
}
.delete:focus,
.delete:hover {
 background-color:rgba(10,10,10,.3)
}


@media print,screen and (min-width:769px) {
  .logo {
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -12px;
  }
}
@media print,screen and (max-width:768px) {
  .logo {
  margin-top: -8px;
  margin-bottom: -15px;
  margin-left: -12px;
  }
}

